body {
    background-image: url("../img/bg/crossword.png");
    /* background-color: #cccccc; */
 }

a {
    cursor: pointer;
}

.ui.menu .item img.logo {
    margin-right: 1em;
}

.main.container {
    margin-top: 7em;
}

.main.wide {
    margin-top: 4em;
    padding: 20px;
}

/* .ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
} */

.footer {
    margin-top: 2em !important;
}

/* Semantic UI: To avoid modal strech until the bottom of the screen. */
.modal { 
    bottom: auto; 
}

.toastr-custom-pos {
    margin-top: 5em;
}

/* .active.paging {
    color:#ffffff !important;
    background-color: #3d6eb9 !important;
} */

.pagination a {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400 !important;
    size: 12px;
    color: #666666 !important;
}

.ui.table thead th {
    background: #eff0f1;
}

table thead tr th {
    font-family: 'Oswald', 'Meiryo', sans-serif;
    font-style: normal;
    font-weight: 400 !important;
    /* color: #666666 !important; */
}

table tfoot tr th {
    font-family: 'Oswald', 'Meiryo', sans-serif;
    font-style: normal;
    font-weight: 400 !important;
    size: 12px;
    color: #666666 !important;
}

table tbody tr td, table tfoot tr th {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    size: 12px;
    color: #292929;
}

.message {
    float: top;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: grey;
}

textarea {
    overflow: hidden;
}